.bg-image {
    width: 100%;
    height: 30em;
}

body{
    background-color: rgb(224, 221, 221) !important;
}

.form-container{
    position: absolute;
    left: 2rem;
    top: 2rem;
    margin: 20px;
    padding: 20px;
    background-color: white;
    width: 25%;
    max-width: 50%;
}

.small-text {
    font-size: smaller;
}

.contact-us-btn {
    border-radius: 5%;
    border: 0;
    box-shadow: none;
    outline: none;
    color: white;
    background-color: rgb(189, 92, 36);
    padding: 5%;
}
.circle-thing{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(189, 92, 36);
}

.custom-title{
    margin-top: 3%;
    margin-bottom: 3%;
    color: rgb(189, 92, 36);
}

.long-cards{
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.138);
    
}