{% extends "base.html" %}
{% block content %}
    <img class="bg-image" src='../static/images/topBG.png'>
    <div class='form-container'>
        <div class='container'>
            <div class='circle-thing'> </div>
            <h2> Innovative <br>
                Solutions</h2>
            
            <p class='small-text'><i> This is some test that explains some things that can be offered. Like we could offer food and junk</i></p>
          
            <p class='small-text'><i>Image from <u><a href='https://google.com'>the internet </a></u></i></p>
       
            <button class='contact-us-btn'>Contact us</button>
        </div>
    </div>
    <div class='container'>
        <div class='d-flex justify-content-center'>
            <h1 class='custom-title'>Company Services</h1>
        </div>


        <div class='row'>
            <div class='col'>
                <div class='long-cards'>
                    <img class='card-image'>
                    Test1
                </div>
            </div>
            <div class='col'>
                <div class='long-cards'>
                    <img class='card-image'>
                    Test2
                </div>
            </div>
            <div class='col'>
                <div class='long-cards'>
                    <img class='card-image'>
                    Test3
                </div>
            </div>
            <div class='col'>
                <div class='long-cards'>
                    <img class='card-image'>
                    Test4
                </div>
            </div>
        </div>
    </div>

{% endblock %}